<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <h1>Day la admin</h1>
<form th:action="@{/logout}" method="post">
    <button type="submit">THoat</button>
</form>
<!--  <button class="btn btn-warning ml-2" th:attrappend="disabled=${!user.getRoles().get(0).getPermissions().contains('CREATE') ? 'disabled' : ''}">Thêm</button>-->
    <table class="table container">
        <thead>
            <tr>
                <td>Tên</td>
                <td>Hành động</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item : ${lstRole}">
                <td th:text="${item.name}"></td>
                <td>
<!--                    <button th:attrappend="disabled=${!user.getRoles().get(0).getPermissions().contains('UPDATE') ? 'disabled' : ''}" class="btn btn-warning">Sửa</button>-->
<!--                    <button th:attrappend="disabled=${!user.getRoles().get(0).getPermissions().contains('DELETE') ? 'disabled' : ''}" class="btn btn-danger">Xóa</button>-->
                </td>
            </tr>
        </tbody>
    </table>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>